{% extends "base.html.twig" %}

{% block title %}Création d'une annonce{% endblock %}

{% block body %}
    <div class="container">
        <h1>Création d'une nouvelle annonce</h1>
        {{form_start(form)}}
            <div class="container">
                <div>
                    {# {{form_label(form.title)}}
                    {{form_widget(form.title)}}
                     {{form_label(form.introduction)}}
                    {{form_widget(form.introduction)}} #}

                    {{form_row(form.title)}}
                    {{form_row(form.introduction)}}
                </div>
            </div>


           
        
            <button type="submit" class="btn btn-primary mt-3">Création d'une annonce</button>
        {{form_end(form)}}


    </div>
{% endblock %}